################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PromotionEngine/.vs/PromotionEngine/v16
/PromotionEngine/PromotionEngine.Core/bin/Debug/netcoreapp3.1
/PromotionEngine/PromotionEngine.Core/obj
